# Python / OS
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.pytest_cache/
*.log

# Temp / Job directories
scratch/
backups/
results/jobs/
results/cache/
results/*/split_fasta/
results/*/resistance/
results/*/alignments/
results/*/glue/
results/*/recombination/
results/hbv/split_fasta/
results/hcv/split_fasta/
results/hev/split_fasta/
results/hbv/resistance/
results/hcv/resistance/
results/hev/resistance/
results/hbv/glue/
results/hcv/glue/
results/hev/glue/
results/hbv/recombination/
results/hcv/recombination/
results/hev/recombination/
run_test.3s.*

# Large binary reference data
scripts/PVT.3SEQ.2017.700
scripts/BinProbs
